body {
    font-size: 10px;
}

.float-container {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 200px;
}

.float-republican {
    background-color:#881106;
    width: 50%;
    float: left;
    height: auto;
}

.float-democrat {
    background-color: #00008B;
    width: 50%;
    margin-left: 50%;
    height:auto;
}

.header-republican {
    display: flex;
    background-color: #DCDCDC;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.header-democrat {
    display: flex;
    background-color: #DCDCDC;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.header-image {
    max-width: 10%;
    height: auto;
    max-height:90px;
}

.header-profile {
    border-radius: 50%;
}

h1 {
    font-size: 8em;
    text-align: center;
    color: white;
}

.trumph1:hover {
    color: red;
}

.bidenh1:hover {
    color: blue;
}

hr {
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

.flex-nav ul {
    background: white;
    font-size: 3em;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.flex-nav li {
    flex:3 3 auto;
}

.link {
    text-decoration: none;
}

.fa {
    font-size: 2em;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: transparent;
    color: black;
}

.fa-instagram { 
    background: transparent;
    color: black;
}

.flex-nav social {
    flex: 1;
}

.ytContainer {
    position: relative;
    overflow: hidden;
}

.ytContainer iframe {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

h3 {
    text-align: center;
    font-size: 2em;
    background: white;
}

.ideoSection {
    height: auto;
    font-size: 1.5em;
    color: goldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ideoInfo {
    background-color: #F4F0DB;
    text-align: left; 
    width: 30%;
    padding-right: 15px;
    margin: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.50)
}

#ideoHeader {
    text-align: center;
}

.sourceLink {
    color:white !important;
    padding: 10px;
}

h4 {
    text-align: center !important;
    font-size: 1.2em;
    color: navy;
}

h2 {
    text-align: center;
    font-size: 4em;
}

.picBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.picBoxImage{
    width: 350px;
    height: auto;
    margin: 10px;
}

#voterBox {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    width: 100%;
    height: 175px;
    position: relative;
    float:right;
}

.ballot {
    text-align: center;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.voteChoice {
    margin: 5px;
}

#submit-button {
    width: 100px;
    margin: 10px;
    text-align: center;
}

@media (max-width: 1200px){
    .ytContainer iframe{
        width: 80%;
        height: 80%;
}
    
    .ideoSection{
        flex-direction: column;
        justify-content: center;
    }

    .ideoInfo {
        border: 1px solid black;
        width: 80%;
        margin: 10px;
}
}

@media (max-width: 1000px){
    .float-republican {
        float: none;
        width: 100%
    }

    .float-democrat {
        margin-left: 0%;
        margin-right: 100%;
        width:100%;
    }

    .header-democrat {
        flex-direction: row-reverse;
    }

    h1 {
        font-size: 4em;
    }

    .flex-nav ul {
        flex-wrap: wrap;
    }

    .flex-nav li {
        flex:1 1 50%;
        font-size: 0.75em;
    }

    .flex-nav fa {
        flex: 1 1 25%;
    }

    .sourceLink {
        font-size: .8em;
    }

    #voterBox {
        font-family: 'Lato', sans-serif;
        width: 100%;
        height: 200px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 2em;
    }
}

